.idea/
.cache/
.vscode/
__pycache__/

# training logs
assets/run
wandb
logs

# virtual enviroments
.venv/
.conda/
env/
venv/
ENV/

*.lock
*.pyc
*.bak
*$py.class
data.lock
*.pdf
*.pt
*.ckpt
*.pth

# Local configurations
*.local.yaml
*.local.sh